[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec={{exec}}
StartupWMClass={{exec}}
Icon={{icon}}
Name=Ideário
Terminal=false
Type=Application
